In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
#loading the data from csv file to a pandas dataframe
data= pd.read_csv(r"C:\Users\Naveen kumar\Downloads\archive.csv")

In [7]:
print(data)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will �_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [8]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
data.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [10]:
data.isnull()

         v1     v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
0     False  False        True        True        True
1     False  False        True        True        True
2     False  False        True        True        True
3     False  False        True        True        True
4     False  False        True        True        True
...     ...    ...         ...         ...         ...
5567  False  False        True        True        True
5568  False  False        True        True        True
5569  False  False        True        True        True
5570  False  False        True        True        True
5571  False  False        True        True        True

[5572 rows x 5 columns]

In [11]:
data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [12]:
#replace the null values with a null string
spam_data=data.where((pd.notnull(data)),'')

In [13]:
#printing the first 5 rows of the data frame
spam_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [14]:
#checking the number of rows and columns in the dataframe
spam_data.shape

(5572, 5)

In [15]:
#lebel spam mail as 0; and ham mail as 1;
spam_data.loc[spam_data['v1']=='spam','v1',]=0
spam_data.loc[spam_data['v1']=='ham','v1',]=1

In [16]:
print(spam_data)

     v1                                                 v2 Unnamed: 2  \
0     1  Go until jurong point, crazy.. Available only ...
1     1                      Ok lar... Joking wif u oni...
2     0  Free entry in 2 a wkly comp to win FA Cup fina...
3     1  U dun say so early hor... U c already then say...
4     1  Nah I don't think he goes to usf, he lives aro...
...  ..                                                ...        ...
5567  0  This is the 2nd time we have tried 2 contact u...
5568  1              Will �_ b going to esplanade fr home?
5569  1  Pity, * was in mood for that. So...any other s...
5570  1  The guy did some bitching but I acted like i'd...
5571  1                         Rofl. Its true to its name

     Unnamed: 3 Unnamed: 4
0
1
2
3
4
...         ...        ...
5567
5568
5569
5570
5571

[5572 rows x 5 columns]

In [17]:
#seperating the data as texts and label
X=spam_data['v2']
Y=spam_data['v1']

In [18]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will �_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [19]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [20]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=4)

In [21]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(3900,)
(1672,)

In [22]:
#transform the test data to feature vectors that can be used as input to the logistic regression
feature_extraction = TfidfVectorizer(min_df=2,stop_words='english',lowercase=True)
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)

#convert Y train and Y test values as integers
Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

In [23]:
print(X_train)

1256       Not yet chikku..going to room nw, i'm in bus..
4163                  Its ok, called mom instead have fun
1994               Have you been practising your curtsey?
3587    If you were/are free i can give. Otherwise nal...
1598                  Daddy will take good care of you :)
                              ...
3671     came to look at the flat, seems ok, in his 50...
709     4mths half price Orange line rental & latest c...
2487    K ill drink.pa then what doing. I need srs mod...
174     Well, i'm gonna finish my bath now. Have a goo...
1146                            Babe ? I lost you ... :-(
Name: v2, Length: 3900, dtype: object

In [24]:
print(Y_train)

1256    1
4163    1
1994    1
3587    1
1598    1
       ..
3671    1
709     0
2487    1
174     1
1146    1
Name: v1, Length: 3900, dtype: int32

In [25]:
print(X_train_features)

  (0, 565)	0.4541283081025466
  (0, 1905)	0.5404817119861236
  (0, 2270)	0.4327984288284353
  (0, 1207)	0.31622834091458635
  (0, 659)	0.46296020908336527
  (1, 1147)	0.4325789275779803
  (1, 1410)	0.5439822278457863
  (1, 1788)	0.4879858867007599
  (1, 585)	0.4455274275293408
  (1, 1921)	0.28343234272640905
  (3, 1120)	1.0
  (4, 607)	0.5317560999610046
  (4, 1211)	0.42087454379324885
  (4, 804)	0.7349150076989083
  (5, 673)	0.3219801522319495
  (5, 2677)	0.20824892856968452
  (5, 2773)	0.6322181223459227
  (5, 2726)	0.22751806488268989
  (5, 1404)	0.3592340353424707
  (5, 2622)	0.3592340353424707
  (5, 2113)	0.27163112268159684
  (5, 1921)	0.17547021384299907
  (5, 1207)	0.1970418589931022
  (6, 1900)	0.3148594783567205
  (6, 381)	0.5064680861935449
  :	:
  (3896, 1942)	0.21548889565405058
  (3896, 1539)	0.20985555507735412
  (3896, 2816)	0.23553392734414785
  (3896, 1589)	0.20615390945930667
  (3896, 2008)	0.16755621146124008
  (3896, 780)	0.20734497737902763
  (3896, 1120)	0.2951242685921296
  (3897, 1786)	0.3437470640317946
  (3897, 1368)	0.3049425708822788
  (3897, 1378)	0.2724060737573646
  (3897, 1674)	0.3020968363994003
  (3897, 900)	0.23914180634815946
  (3897, 920)	0.2994138065614
  (3897, 1958)	0.5799885506867833
  (3897, 1856)	0.2131838261799135
  (3897, 2349)	0.203126662998406
  (3897, 2046)	0.2311892771181649
  (3898, 1874)	0.3588484460504399
  (3898, 1210)	0.40841095619036905
  (3898, 431)	0.5152481643122281
  (3898, 1080)	0.42282452491327605
  (3898, 1078)	0.40841095619036905
  (3898, 1211)	0.30556100012806464
  (3899, 416)	0.6064746762515167
  (3899, 1626)	0.7951028028284255

In [26]:
model=LogisticRegression

In [27]:
print(type(model))

<class 'type'>

In [29]:

print(Y_train.shape)

(3900,)

In [31]:
model.fit(X_train_features,Y_train)

LogisticRegression(solver='liblinear')

In [32]:
#prediction on training data
prediction_on_training_data=model.predict(X_train_features)
accuracy_on_training_data=accuracy_score(Y_train,prediction_on_training_data)

In [33]:
print('Accuracy_on_training_data :',accuracy_on_training_data)

Accuracy_on_training_data : 0.9712820512820513

In [34]:
#prediction on test data
prediction_on_test_data=model.predict(X_test_features)
accuracy_on_test_data=accuracy_score(Y_test,prediction_on_test_data)

In [35]:
print('Accuracy_on_test_data :',accuracy_on_test_data)

Accuracy_on_test_data : 0.9611244019138756

In [36]:
input_mail = ["I see the letter B on my car,,,"]

#covert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

#making prediction
prediction = model.predict(input_data_features)
print(prediction)
if prediction[0] == 1:
    print("ham mail")
else:
    print("spam mail")

[1]
ham mail